@import url("https://fonts.googleapis.com/css2?family=Anton&family=Schibsted+Grotesk&display=swap");
body {
  background-color: rgb(255, 255, 0);
}
#heading h1 {
  font-family: "Anton", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
#links {
  margin-left: 10rem;
}
#links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 6.5rem;
  text-shadow: 2rem 1.5rem rgb(255, 107, 107);
}
#links a:hover {
  font-size: 7rem;
  color: rgb(255, 107, 107);
  text-shadow: 2rem 1.5rem black;
}
